doctype html
html
  head
    title Least Common Multiple
    link(rel="stylesheet", href="/vendor/normalize.css")
    link(rel="stylesheet", href="/vendor/foundation.min.css")
    link(rel="stylesheet", href="/styles/style.css")
    script(src="/vendor/angular.min.js")
    script(src="/js/app.js")
    script(src="/js/models/square.js")
    script(src="/js/models/board.js")
    script(src="/js/controllers/board_controller.js")
    script(src="/js/directives/board_directive.js")
  body(ng-app="LCM")
    section(id="game")
      board(ng-controller="BoardController")
